@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext';

/* html, body */
html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #c2c2c2;
}

body
{
    /* padding-top : 50px; */
    background : url(back.jpg) no-repeat fixed center;
    display: flex;
    height: 100vh;
    flex-direction: column;
}





/* validation fix */
.field-validation-valid
{
    display: none;
}
.validation-summary-valid
{
    display: none;
}



#navMain
{
    margin-bottom: 20px;
}

/* flex - footer */
.body-content {
    flex: 1;
}

footer
{
    background : #808080;
    opacity: 0.5;
    margin-top: 20px;
}

footer p
{
    opacity: 1;
    font-size: 0.5em;
    margin: 8px 0px 8px 5px;
}

/* plc chat */
div#chat
{
    /*width: 90%;*/
    height: 600px;
    resize: vertical;
    background: white;

}

div#chatRoom
{
    width: 100%;
    height: 500px;

    background: #f0f0f0;

    overflow-y: scroll;
    word-wrap: break-word;
    color: black;
    padding: 10px 10px 10px 10px;

}

#chatControls
{
    display: flex;
}

#chatMsg
{
    margin: 5px 10px 5px 10px;
    display: inline-block;
    flex-grow: 1;
}

#chatBtn
{
    display: inline-block;
    margin: 5px 10px 5px 0px;
    border-radius: 5px;
    width: 78px;
}

.btn-inactive
{
    color: #c2c2c2;
}


div#chatRoom > div:nth-of-type(2n+1)
{
    background: #e2e2e2;
}

#chatUsersP
{
    text-align: right;
    font-size: 0.6em;
    color: #202020;
    margin: 10px;
}


/*  */
#plcList
{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #e2e2e2;
    width: 100%;
    border-radius: 3px;
}

#plcList th {
    border: 1px solid #e2e2e2;
    padding: 1px 5px;
    text-align: center;
}

#plcList td {
    border: 1px solid #e2e2e2;
    padding: 1px 5px;
    text-align: center;
}

#plcList img
{
    max-width: 300px;
}

#socialLoginList button
{
    margin: 4px;
}

.plcInfo {
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

.plcInfo dd{
    margin-bottom: 0.8rem;
}

.nav-item {
    border-radius: 10px;
}

.nav-item:hover{
    transition: all 0.5s;
    background: rgb(0, 0, 0);
}


/*  */
.radio-inline
{
    padding-left: 10px;
}