
@{
    ViewBag.Title = "Zadania";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Planowanie zadania zakończone</h2>


@Html.ActionLink("Powrót", "Main", "PLC", null, new { @class = "btn btn-default" })